<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="base_url" value="http://automationpractice.com/index.php/"/>
		<add key="signinpage_url" value="http://automationpractice.com/index.php?controller=authentication"/>
		<add key="orderpage_url" value="http://automationpractice.com/index.php?controller=order"/>
		<add key="email_signin" value="kharvey@spartaglobal.com"/>
		<add key="password_signin" value="login"/>	
	</appSettings>
</configuration>
